
    <div class="container">
        <div class="top_footer">
            <div class="row">
                <div class="col-xs-12 col-sm-3 col-md-3">
                    <ul class="footer_links">
                        <li><a href="https://www.asna.com/en/migration">Read more about ASNA Monarch</a></li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-3 col-md-3">
                </div>
                <div class="col-xs-12 col-sm-3 col-md-3">
                </div>
                <div class="col-xs-12 col-sm-3 col-md-3">
                    <ul class="footer_links">
                        <li><a href="https://www.asna.com">ASNA.com</a></li>
                    </ul>
                </div>
            </div>
            <div class="footer-nav">
                <nav class="footer_sub_nav">
                    <ul class="menu">
                        <li><a href="https://www.asna.com/en/privacy" target="_blank" rel="noopener">Privacy</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="bottom_footer">
            <div class="footer-copyright col-xs-12 col-md-8">
                <p class="copyright">
                    Copyright &copy; 2003-2024 ASNA, Inc. All rights reserved. </p>
            </div>
            <div class="footer_social_nav">
                <ul class="nav-social">
                    <li class="fa fa-youtube"><a href="http://www.youtube.com/user/asna">Youtube</a></li>
                    <li class="fa fa-github"><a href="https://github.com/asna">GitHub</a></li>
                    <li class="fa fa-linkedin"><a href="https://www.linkedin.com/company/asna">Linkedin</a></li>
                    <li class="fa fa-facebook"><a href="https://www.facebook.com/asna">Facebook</a></li>

                </ul>
            </div>
        </div>
    </div>
